Value INTERFACE (\S+)
Value Total (\d+)
Value Active (\d+)
Value Offline (\d+)
Value Description (.+)

Start
  ^Interface                       Cable Modem                                        Description
  ^\s+Total Reg   Oper  Unreg Offline Wideband initRC initD initIO initO
  ^${INTERFACE}\s+${Total}\s+\d+\s+${Active}\s+\d+\s+${Offline}\s+\d+\s+\d+\s+\d+\s+\d+\s+\d+\s+${Description} -> Record