[
{
    "hostname": "{{ hostname1 }}",
    "vendor": "{{ vendor1 }}",
    "cmts_summary": "{{ cmts_summary1 }}"
},
{
    "hostname": "{{ hostname2 }}",
    "vendor": "{{ vendor2 }}",
    "cmts_summary": "{{ cmts_summary2 }}"
}
]