Value INTERFACE (\S+)
Value Total (\d+)
Value Active (\d+)
Value Offline (\d+)
Value Description (.+)

Start			   
  ^Upstream		Mac	Total	Active	Registered	Secondary	Offline	Bonding	Non_Bonding	Channel 
  ^Interface	Int	Modems	Modems	Modems		Modems		Modems	Modems	Modems		Description
  ^${INTERFACE}\s+\d+\s+${Total}\s+${Active}\s+\d+\s+\d+\s+${Offline}\s+\d+\s+\d+\s+${Description} -> Record
